// ========== COLOR VARIABLES ==========
$device-bg: #d7d2d8;
$device-crnr-bg: linear-gradient(-30deg, #a6a6a6 0 4.7rem, transparent 5rem),
  linear-gradient(
    transparent 95%,
    rgba(61, 61, 61, 0.267) 98.5%,
    rgba(56, 56, 56, 0.333) 99%
  );
$device-shadow: 0 0 0.62rem #0007, 0.063rem 0 0.62rem 0.2rem #0008 inset;
$bg-color: rgba(195, 98, 129, 0.686);
$black-color: #000;
$white-color: #fff;
$red-color: #bd366f;
$blue-color: #1d119f;

// ========== TOP ==========
$device-top-bor: #11111129 0.063rem solid;
$top-shadow: 0 1.13rem 0.3rem -0.63rem #fff inset;
$top-txt-shadow: 0 0.063rem 0.13rem #0005 inset, 0 -0.063rem 0.13rem #fffc inset;
$top-triple-line-bg: radial-gradient(transparent, #3f3f3f72);

// ========== SCREEN ==========
$screen-bor-shadow: 0 0 0.13rem #514c65, 0 -0.063rem 0.063rem #161118,
  0 -0.13rem 0.063rem #a0939f, 0 -0.25rem 0.063rem #514c65,
  0 0 0.13rem 0.13rem #9c99ac88 inset, 0 -0.063rem 0.13rem 0.063rem #0006 inset;
$screen-bor-bg: #848190;
$screen-dsply-off-bg: #2e2e2e66;
$screen-dsply-on-bg: #819330;
$screen-dsply-shadow: inset -0.75rem 0.25rem 1.4rem 0 #00000033,
  0 0 0.3rem 0.13rem #ffffff0d;
$screen-board-bor: #090708cc 0.3rem solid;

// ========== POWER ==========
$power-btn-bg: #65646b;
$power-btn-shadow: inset 0.063rem 0.063rem 0.2rem #45444b80;

// ========== PAD ==========
$pad-btn-shadow: 0 0 0.063rem 0.25rem rgb(11, 4, 12),
  0 0.3rem 0.13rem 0.063rem rgb(19, 19, 19);
$pad-shade-bor-1: #363439 0.13rem solid;
$pad-shade-bor-2: #060206 0.13rem solid;
$pad-shade-bor-top: #b7bec8 0.13rem solid;
$pad-btn-bg: conic-gradient(
  #dde8f777 0 1%,
  transparent 10% 35%,
  #dde8f7 50%,
  transparent 65% 90%,
  #dde8f777 99%
);
$pad-btn-line-bg: #181818;

// ========== CONTROLS ==========
$cntrls-select-bg: linear-gradient(10deg, #eff2f099, #ae9fa699);
$cntrls-btn-bg: radial-gradient(
  26px 26px at 24px 27px,
  #6f0119 75%,
  #a20d37 90%,
  #ef94b2
);
$cntrls-btn-bg-hover: radial-gradient(
  30px 26px at 24px 27px,
  #6b0118 75%,
  #960b33 90%,
  #db84a1
);
$cntrls-btn-shadow: 0.063rem -0.25rem 0 -0.2rem #7c4b5b inset,
  -0.2rem 0.43rem 0.3rem -0.13rem #1e0009, 0.06rem -0.063rem 0 0.13rem #53182b;
$cntrls-btn-shadow-hover: 0.063rem -0.038rem 0.063rem 0.2rem #000000d1,
  inset 0.13rem -0.13rem 0.13rem #40404034,
  inset -0.13rem 0.2rem 0.13rem #40404034;

// ========== SETTINGS ==========
$settings-select-bg: linear-gradient(to top, #eff2f0, #ae9fa6);
$settings-select-shadow: -0.25rem 0.25rem 0.2rem -0.2rem #585858bb inset,
  0.25rem -0.25rem 0.2rem -0.2rem #fffc inset;
$settings-btn-bg: #9e9baf;
$settings-btn-shadow: -0.13rem -0.13rem 0.3rem #585858bb inset,
  0.13rem 0.13rem 0.3rem #fff3 inset, 0.13rem 0.13rem 0.4rem #0007,
  -0.063rem 0.13rem 0.2rem #000d;
$settings-btn-bg-hover: #9693a5;
$settings-btn-shadow-hover: -0.2rem -0.2rem 0.3rem rgba(0, 0, 0, 0.352) inset,
  0.2rem 0.2rem 0.3rem rgba(219, 219, 219, 0.2) inset,
  0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.545), -0.13rem 0.2rem 0.2rem rgb(0, 0, 0);

// ========== BOTTOM ==========
$bttm-phone-txt-shadow: 0.06rem 0.06rem 0.06rem #0003;
$bttm-phone-shadow: 0.06rem 0.13rem 0.13rem #0005 inset,
  0 -0.06rem 0.13rem #b5b5b5dd inset,
  0 -0.06rem 0.13rem rgb(108, 108, 108) inset;
$bttm-triple-line-bg: radial-gradient(transparent, #0003);
$bttm-spkr-crnr-bg: linear-gradient(
  to bottom,
  #959395 0%,
  #9f9f9f 25%,
  #919091 55%,
  #6b686c 95%,
  #716f71 100%
);
$bttm-spkr-crnr-after-bg: #090708;

// ========== TYPOGRAPHY ==========
$f-orbitron: "Orbitron", sans-serif;
$f-otomanopee: "Otomanopee One", sans-serif;
$f-2p: "Press Start 2P", sans-serif;
$f-arial: Arial, sans-serif;

// ========== FLEX VARIABLES ==========
$col: column;
$col-init: initial;
$align-init: initial;
$align-ctr: center;
$align-end: flex-end;
$justify-ctr: center;
$justify-init: initial;
$justify-even: space-evenly;
$justify-arnd: space-around;
$justify-btwn: space-between;
$justify-end: flex-end;

// ========== SIZING ==========
$size-1: 0.063rem;
$size-3: 0.2rem;
$size-15: 0.95rem;
